// https://colorhunt.co/palette/225760
$primary-color: #222831;
$secondary-color: #F05454;
$background-color: #FFFFFF;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    width: 200px;
    height: 600px;
}

.empty-box {
    width: 200px;
    height: auto;
    margin: auto;
    text-align: center;
}

.box {
    width: 200px;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
}

.box-content {
    width: 192px;
    height: auto;
    margin: 8px;
}

.box-content > a > h3 {
    color: $primary-color;
}

.box:hover {
    background-color: $secondary-color;
}

a {
    text-decoration: none;
    color: $primary-color;
}

.box:hover > .box-content > a > * {
    color: $background-color
}